/* Built with */
.builtWith {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  gap: 2rem;
}

.builtWithPlanned {
  filter: saturate(0);
  opacity: 0.3;
}

/* Playground */
.playgroundBackground {
  background-color: var(--ifm-table-stripe-background);
}

.themes {
  display: grid;
  gap: 2rem;
}

.themesRow {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.theme {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  min-width: 10rem;
  transition: all .375s ease-in-out;
  cursor: pointer;
  box-shadow: var(--p-theme-active-shadow, 0 0 #000), var(--p-theme-hover-shadow, 0 0 #000);
  --p-theme-hover-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.themeActive {
  --p-theme-active-shadow: 0 0 0 5px var(--p-theme-active-shadow-color);
}

.theme:hover {
  --p-theme-hover-shadow: 0 20px 25px -5px rgba(0,0,0,.1);
  transform: scale(1.05);
}

.theme h4 {
  margin-bottom: 0.125rem;
  font-size: 1.125rem;
}

.theme p {
  margin-bottom: 0.5rem;
  color: var(--p-theme-p-color);
  font-weight: 500;
}