/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.builtWith {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  gap: 2rem;
  margin: 0 auto;
  margin-bottom: calc(1.25*1rem);
}